
# Don't forget to setup ec2 role with policy:
# -> AmazonAPIGatewayPushToCloudWatchLogs
# And once published, setup the retention using 'Expire Events After' column.


# Application Custom Logs
files:
  "/etc/awslogs/config/app_logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/containers/web1/dummy-webapp.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/web1/dummy-webapp.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/web1/dummy-webapp.log*

      [/var/log/containers/web2/dummy-webapp.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/web2/dummy-webapp.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/web2/dummy-webapp.log*

      [/var/log/app-jobs.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/app-jobs.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/app-jobs.log*

      [/var/log/containers/nginx-proxy/error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/nginx-proxy/error.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/nginx-proxy/error.log*

      [/var/log/containers/nginx-proxy/nginx/access.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/nginx-proxy/nginx/access.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/nginx-proxy/nginx/access.log*

      [/var/log/containers/nginx-proxy/nginx/error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/nginx-proxy/nginx/error.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/nginx-proxy/nginx/error.log*

