
# Don't forget to create S3 Bucket for config, default settings + Block All Public Access

# Don't forget to setup ec2 role with policy:
# -> AmazonS3FullAccess


# General Commands (before source is extracted)
commands:
  # Setup Timezone to Central Time
  01_setup_timezone:
    command: |
      rm /etc/localtime
      ln -s /usr/share/zoneinfo/America/Mexico_City /etc/localtime

  # Write a initial log into app-jobs.log
  02_init_jobs_log:
    command: |
      printf "Starting Instance!\t$(date)\n\n" >> /var/log/app-jobs.log


# Container Commands (after source is extracted)
container_commands:
  # Provide executable permission to scripts
  01_setup_scripts:
    command: |
      chmod +x ./restore-ssl.sh
      chmod +x ./backup-ssl.sh

  # Restore ssl-config into Staging dir
  02_restore_ssl:
    command: |
      ./restore-ssl.sh $(pwd)/proxy-conf/etc/letsencrypt

  # Schedule task with 10 minutes delay to backup any ssl config generated during initialization.
  03_schedule_early_backup:
    command: |
      nohup sh -c "sleep 600 && /var/app/current/backup-ssl.sh"  </dev/null >> /var/log/app-jobs.log 2>&1 &

  # Schedule task to backup current ssl config every midnight.
  04_schedule_daily_backup:
    command: |
      crontab -r
      echo "@midnight /var/app/current/backup-ssl.sh" > /tmp/cron.tmp
      crontab /tmp/cron.tmp
      rm /tmp/cron.tmp

